<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Actualizar Abastecimiento</title>
</head>
<body>
    <div class="container my-4">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Actualizar Abastecimiento</h2>
            <a href="/abastecimientos" class="btn btn-outline-secondary">Volver a la Lista</a>
        </div>
        <hr>
    
        <form action="{{ url_for('actualizar_abastecimiento', cod_prv=abastecimiento.COD_PRV, cod_pro=abastecimiento.COD_PRO) }}" method="POST">
            <div class="row g-3">
                <div class="col-md-6 mb-3">
                    <label for="PRE_ABA" class="form-label">Precio de Abastecimiento</label>
                    <input type="number" class="form-control" name="PRE_ABA" id="PRE_ABA" value="{{ abastecimiento.PRE_ABA }}" required>
                </div>
            </div>
    
            <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-success">Actualizar</button>
            </div>
        </form>
    </div>
    <!-- Optional JavaScript; Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>

