<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <!-- Custom JavaScript -->
    <script src="{{ url_for('static', filename='js/test.js') }}"></script>
    <!-- Title Block -->
    <title>FORMULARIO DE REGISTRO</title>
  </head>
  <body>
    <div class="container my-4">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Registrar Nuevo Material</h2>
        <a href="/materiales" class="btn btn-outline-secondary"
          >Volver a la Lista</a
        >
      </div>
      <hr />

      <form method="POST">
        <div class="row g-3">
          <!-- Código Cliente -->
          <div class="col-md-6 mb-3">
            <label for="id_material" class="form-label">id</label>
            <input
              type="text"
              class="form-control"
              name="id_material"
              id="id_material"
              placeholder="Ingrese el id de material"
              required
            />
          </div>

          <!-- Razón Social -->
          <div class="col-md-6 mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <input
              type="text"
              class="form-control"
              name="tipo"
              id="tipo"
              placeholder="Ingrese el tipo de Material"
              required
            />
          </div>

          <!-- Dirección -->
          <div class="col-md-6 mb-3">
            <label for="nombre_material" class="form-label">Nombre Material</label>
            <input
              type="text"
              class="form-control"
              name="nombre_material"
              id="nombre_material"
              placeholder="Ingrese el nombre del material"
              required
            />
          </div>

          <!-- Teléfono -->
          <div class="col-md-6 mb-3">
            <label for="costo" class="form-label">Costo</label>
            <input
              type="number"
              class="form-control"
              step="0.01"
              name="costo"
              id="costo"
              placeholder="Ingrese el Costo"
              required
            />
          </div>

          <!-- RUC (opcional) -->
          <div class="col-md-6 mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <input
              type="text"
              class="form-control"
              name="descripcion"
              id="descripcion"
              placeholder="Ingrese la descripcion del material"
              required
            />
          </div>


        <!-- Botón de Enviar -->
        <div class="d-flex justify-content-end mt-3">
          <button type="submit" class="btn btn-success">Registrar</button>
        </div>
      </form>
    </div>
    <!-- Optional JavaScript; Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
